{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <title>Davissang</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
        ================================================== -->


    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <!-- Script
   ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script>

    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

</head>

<body>

    <!-- Header
   ================================================== -->
    <header id="home">

        <nav id="nav-wrap">

            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">Resume</a></li>
            </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">Hi, I'm Davis <span> &#128075;&#127997;</span></h1>
                <h3> <a class="smoothscroll" href="#about"></a>
                    <a class="smoothscroll" href="#about"></a>.
                </h3>
                <hr />
                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/davis-sang/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/davissang"><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-external-link"></i></a></li>
                </ul>
            </div>
        </div>

        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

    </header>
    <!-- Header End -->

    <main class="main-page">
        <!-- About Section
   ================================================== -->
        <section id="about">

            <div class="row">

                <div class="three columns">

                    <img class="profile-pic" src="{% static 'images/myavatar.png' %}" alt="" />

                </div>

                <div class="nine columns main-col">

                    <h2>About Me</h2>

                    <p>
                        Hi, i'm Davis Sang a student pursuing Computer Engineering. I'm a passionate cloud
                        enthusiast,keen to learn more about cloud architecture.
                        Working towards understanding DevOps concepts with an incline towards serveless computing.
                    </p>

                </div> <!-- end .main-col -->

            </div>

        </section> <!-- About Section End-->


        <!-- Resume Section
   ================================================== -->
        <section id="resume">

            <!-- Education
      ----------------------------------------------- -->
            <div class="row education">

                <div class="three columns header-col">
                    <h1><span>Certifications</span></h1>
                </div>

                <div class="nine columns main-col">

                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Azure fundamentals AZ900</h3>
                            <p class="info"><span>&bull;</span> <em class="date">January 2021</em></p>

                        </div>

                    </div> <!-- item end -->

                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Azure AI fundamentals AI900</h3>
                            <p class="info"> <span>&bull;</span> <em class="date">February 2021</em></p>

                        </div>

                    </div> <!-- item end -->
                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Huawei HCIP Cloud Service</h3>
                            <p class="info"> <span>&bull;</span> <em class="date">August 2020</em></p>

                        </div>

                    </div> <!-- item end -->
                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Huawei HCIA Cloud Service</h3>
                            <p class="info"> <span>&bull;</span> <em class="date">February 2020</em></p>

                        </div>

                    </div> <!-- item end -->
                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Huawei HCIA Big Data</h3>
                            <p class="info"> <span>&bull;</span> <em class="date">February 2020</em></p>

                        </div>

                    </div> <!-- item end -->

                </div> <!-- main-col end -->

            </div> <!-- End Education -->


            <!-- Work
      ----------------------------------------------- -->
            <div class="row work">

                <div class="three columns header-col">
                    <h1><span>Work</span></h1>
                </div>

                <div class="nine columns main-col">

                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Cloud & AI Intern </h3>
                            <p class="info">Huawei Cloud & AI Solutions intern <span>&bull;</span> <em class="date">Mar
                                    2020 - May 2020 : 3 months</em></p>

                        </div>

                    </div> <!-- item end -->

                    <div class="row item">

                        <div class="twelve columns">

                            <h3>Datacenter Intern </h3>
                            <p class="info"> Huawei Datacenter Intern Solutions <span>&bull;</span> <em class="date">Sep
                                    2019 - Nov 2019 : 3 months</em></p>


                        </div>

                    </div> <!-- item end -->

                </div> <!-- main-col end -->

            </div> <!-- End Work -->
    </main>
    <!-- footer================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="social-links">
                    <li><a href="https://www.linkedin.com/in/davis-sang/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/davissang"><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-external-link"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; davissang</li>
                </ul>

            </div>

            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
            </div>

        </div>

    </footer> <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="j{% static '/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="{% static 'js/magnific-popup.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>

</html>